<a href="https://colab.research.google.com/github/JoBalasa/CPE009-OOP/blob/main/Demo4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Operations and Expressions in Python

     - bool() functions allows you tro evaluate any value, and give you true or false in return.

In [ ]:
print(bool("Hello"))
print(bool(15))

True
True

- Almost any value is evaluated to True is has some sort of context except for empty space/set.

In [20]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [ ]:
print(bool(True))
print(bool(False))
print(bool(1))
print(bool())

True
False
True
False

- Functions can return a Boolean.

In [ ]:
def myFunction():
  return True

  print(myFunction())

- You can execute code based on Boolean answer of a Function

In [22]:
def myFunction():
  return True

  if myfunction():
    print("YES!")

  else:
      print("NO!")

- Try Comparison Operators

In [23]:
print(10>9)

a=6
b=7
print(a==b)
print(a!=a)

True
False
False

Python Operators
- Operators are used to perform operations on variable and values
- In the example below, we use the + operator to add together two values.

In [26]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10%5)
print(10//5)
print(10**5)

15
5
50
2.0
0
2
100000

Python Bitwise Operators
- Bitwise Operator works on bits and perform bit-by-bit operation. Assume if a=60; and b=13; Now in binary format they will be as follows a= 0011 1100
b = 0000 1101

In [27]:
a= 60
b= 13

print(a&b)
print(a|b)
print(a^b)
print(a<<1)
print(a<<2)
print(a>>2)

12
61
49
120
240
15

Python Assignment Operators

In [28]:
#x+=3 Same as x=x+3
#x-=3 Same as x=x-3
#x*=3 Same as x=x*3
#x/=3 Same as x=x/3
#x%=3 Same as x=x%3

In [29]:
x=1
x+=3

print(x)

4

Logical Operators

In [36]:
y = 60
z = 13

print(y>z)
print(z>y)
print(y>z and z>y) #and
print(y>z and z<y)
print(not(y>z and z>y)) #not
print(y>z or z<y) #or

True
False
False
True
True
True

Identity Operator

In [37]:
print( y is z)
print( y is not z)

False
True

Loop Statement

In [39]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]  #Example 1
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [40]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]  #Example 2
for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [42]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]  #Example 3
for x in week:
  if x=="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

In [47]:
for x in "week":    #Example 4
  print (x)

w
e
e
k

In [60]:
for x in "week":

  if x == "Thursday":
   print(x)
   break

In [62]:
#the range() Function
for x in range(6):
  print(x)
  for x in range(2,6):
    print (x)

0
2
3
4
5
1
2
3
4
5
2
2
3
4
5
3
2
3
4
5
4
2
3
4
5
5
2
3
4
5

In [61]:
# Nested Loops

adjective =["red","big","tasty"]
fruits=["apple","banna","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banna
red cherry
big apple
big banna
big cherry
tasty apple
tasty banna
tasty cherry

In [ ]:
i = 1
while i<6:
 print(i)
i+=1 #i=i+1 Assignment operator

In [71]:
i = 1            #the break statement
while i<6:
 print(i)
 if i==3:
   break
 i+=1

1
2
3

In [75]:
i = 0         #continue statement
while i<6:
  i+=1
  if i ==3:
    continue
    print(i)

In [73]:
i = 1            #else statement
while i<6:
 print(i)
 i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6